/*
-------------------------------------------------------------
	@Theme Name: Kepsoc Ke.
	@Author: Jackson Asumu Chegenye
	@Author URI: http://www.j-tech.tech/
	@PhoneNumber: +254711494289
-------------------------------------------------------------
*/


/* TABLE OF CONTENTS

	1. Import section
	2. Basic styles
	3. BUTTONS
	4. HEADER
	5. SLIDER
	6. SERVICES
	7. OUR WORKS
	8. CHAIRMAN
	9. MISSION AND VISIONS
	10. ABOUT US
	11. OUR TEAM
	12. TESTIMONIAL
	13. CONTACT
	14. FOOTER
		(a) Subscribe
	17. SCROLL TO TOP

*/

/* 1. IMPORT SECTION */

	@import url('https://fonts.googleapis.com/css?family=Lato');

/* 2. BASIC STYLES */

	html, body {
		height: 100%;
		font-family: "Lato";
		font-style: normal;
		font-weight: 200;
	}

	body {
		font-size: 14px;
		font-weight: 600;
		line-height: 1.7857;
		letter-spacing: 0.075em;
		color: #d94e33;
		background-color: #fff;
	}
	title{
		text-transform: capitalize;
	}

	a { 
		color: #d94e33;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	a:hover {
		color: #27ABE2;
	}

	a, a:hover, a:active, a:focus, button:focus {
		outline: 0;
		border: 0;
		text-decoration: none;
	}
	.form-control:focus{
        border-color: #fff;
	    outline: 0;
	    -webkit-box-shadow: inset 0 1px 1px  #fff,0 0 2px  #fff;
	    box-shadow: inset 1px 1px 1px 1px #d94e33 ,0 0 2px  #fff;
	}

	#st-preloader {
		background: #FFF;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	p {
		line-height: 1.5;
		font-weight:normal;
	}

	h1, h2, h3, h4, h5, h6{
		font-weight: 700;
		text-transform: uppercase;
	}

	input, textarea{
		outline: none;
	}

	label{
		font-weight: 300;
	}

	.header-line{
		margin-left:63px;
	}

	.danger{
		top: 0px;
		z-index: 999;
		position: fixed;
		right: 5px;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0);
		text-align: left;
		margin-top: 5px;
		margin-left: 5px;
		margin-right: 5px;
		width: 350px;
	}
	.success{
		top: 0px;
		z-index: 999;
		position: fixed;
		right: 5px;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0);
		text-align: left;
		margin-top: 5px;
		margin-left: 5px;
		margin-right: 5px;
		width: 350px;
	}
	.info{
		top: 0px;
		z-index: 999;
		position: fixed;
		right: 5px;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0);
		text-align: left;
		margin-top: 5px;
		margin-left: 5px;
		margin-right: 5px;
		width: 350px;
	}

	.alert-all-text{
		margin-left: 100px;
	}

	#pre-status,
	.preload-placeholder {
		background-image: url(../images/preloader.gif);
		background-position: center;
		background-repeat: no-repeat;
		height: 40px;
		left: 50%;
		margin: -20px 0 0 -20px;
		position: absolute;
		top: 50%;
		width: 40px;
	}

	.preload-placeholder {
		background: none;
		left: 0;
		margin: 0;
		text-align: center;
		top: 65%;
	}

	.st-border{
		margin-bottom: 20px;
		width: 80px;
		height: 1px;
		display: block;
		background-color: #d94e33;
	}

	.overlay{
		background-color: rgba(0, 0, 0, 0.12);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}

	.logo{
		margin-top: inherit;
	}
	.logo:hover{
		color:#fff;
	}

	.logo-2{
		margin-top: inherit;
	}
	.logo-2:hover{
		color:#23293F;
	}

	.share-social-icons a{
		border: 1px solid #23293F;
	    padding: 5px;
	    background-color: #23293F;
	    color: #fff;
	}
	.share-social-icons a:hover{
		border: 1px solid #23293F;
	    padding: 5px;
	    background-color: #fff;
	    color: #23293F;
	}


/* 3. BUTTONS */

	.btn-send{
		font-weight: 600;
		background-color: #d94e33;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 8px 14px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-send:hover{
		font-weight: 600;
		background-color:rgba(217, 78, 51, 0.31);
		color:#fff;
	}

	.btn-readmore{
		background-color: #383838;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 10px 20px;
		margin-top: 20px;
		text-transform: uppercase;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-readmore:hover{
		background-color: #000;
		color: #fff;	
	}


/* 4. HEADER */

	#header{
		
	}

	#header-2{
		position: relative;
	}

	#header .navbar {
		/*min-height: 80px;*/
		margin-bottom: 0;
		border-radius: 0;
		border-bottom: 3px solid rgba(142, 36, 16, 0.12);
    	background-color: rgba(142, 36, 16, 0.12);
	}

	.st-navbar{
		/*background-color: #fff;*/
		border-bottom: 1px solid #f0f0f0;
	}

	.st-navbar ul{
		margin-top: 5px;
    	background-color: rgba(217, 78, 51, 0.67);
	}
	.st-navbar-joinus  {
		background-color: antiquewhite;
	}

	.st-navbar ul li a{
		font-weight:700;
		text-transform: uppercase;
		padding: 0;
		margin: 15px;
		color:#fff;
	}

	.st-navbar ul li a:hover,
	.st-navbar ul li a:focus {
		font-weight:700;
		background-color: transparent;
		color: #fff;
	}

	.st-navbar .navbar-header{
		margin-top: 25px;
	}

	.st-navbar .navbar-toggle .icon-bar {
		background-color: #000; 
	}

	.st-navbar .navbar-toggle{
		margin-top: 7px;
		margin-right: 25px;
		padding: 0;
		border-radius: 0;
	}



/* 5. SLIDER */

	#slider{
		/*margin-top: 80px;*/
	}

	#home-carousel  .item {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
		height: 100vh;
	}

	#home-carousel .item:before{
		background-color: #000;
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0.5;
		position: absolute;
		width: 100%;
	}

	.carousel-caption {
		left: 15%;
		right: 15%;
		top: 20%;
		font-size: 25px;
		text-align: center;
		color: #fff;
		text-shadow: 0px 0px 6px #d94e33;
		padding: 15px;
		bottom: 20%;
	}

	.carousel-caption h1 {
		font-size:46px;
		margin-bottom:0;
		line-height:27px;
		letter-spacing:2px;
		font-weight:700;
	}

	.carousel-caption h2 {
		font-size:81px;
		font-weight:600;
		margin-top:0px;
		text-transform:lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}

	.home-carousel-left, 
	.home-carousel-right {	
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.home-carousel-left {
		left:-32px;
	}

	.home-carousel-right {
		right:-32px;
	}

	#home-carousel:hover .home-carousel-left {
		left:0;
	}

	#home-carousel:hover .home-carousel-right {
		right:0;
	}
	/* Carousel animation */

	#home-carousel .item h1, 
	#home-carousel .item h2, 
	#home-carousel .item p {
		opacity:0;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}

	#home-carousel .item h1 {
		-webkit-transition: all 0.5s ease-in-out 0.15s;
		-moz-transition: all 0.5s ease-in-out 0.15s;
		-ms-transition: all 0.5s ease-in-out 0.15s;
		-o-transition: all 0.5s ease-in-out 0.15s;
		transition: all 0.5s ease-in-out 0.15s;
	}

	#home-carousel .item.active p {
		margin-bottom: 150px;
	}
#home-carousel .item.active h2{
	text-transform: uppercase;
}
	#home-carousel .item.active h1, 
	#home-carousel .item.active h2, 
	#home-carousel .item.active p {
		opacity:1;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	#home-carousel .item h2 {
		-webkit-transition: all 0.5s ease-in-out 0.30s;
		-moz-transition: all 0.5s ease-in-out 0.30s;
		-ms-transition: all 0.5s ease-in-out 0.30s;
		-o-transition: all 0.5s ease-in-out 0.30s;
		transition: all 0.5s ease-in-out 0.30s;
	}

	#home-carousel .item p {
		-webkit-transition: all 0.5s ease-in-out 0.45s;
		-moz-transition: all 0.5s ease-in-out 0.45s;
		-ms-transition: all 0.5s ease-in-out 0.45s;
		-o-transition: all 0.5s ease-in-out 0.45s;
		transition: all 0.5s ease-in-out 0.45s;
	}

	.home-stand{
	    background-color: rgba(248, 241, 241, 0.24);
		text-shadow: 0px 0px 0px transparent;
		margin-top: 50px;
		color: #FFF;
	}
	.home-stand a{
		color: #FFF;
		font-size: 20px;
	}
	.home-stand a:hover{
		color:#000;
	}

/* 6. SERVICES */

	#services{
		background-color: #f5f5f5;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.section-title{
		margin-bottom: 20px;
	}

	.section-title h1{
		margin-top: 0;
	}

	.st-service{
		margin-top: 30px;
	}

	.st-service h2{
		font-size: 16px;
		margin-top: 0;
		margin-bottom: 15px;
	}

	.st-service h2 i{
		margin-right: 10px;
	}

	.st-service p{}



/* 7. OUR WORKS */

	.isotope-item {
	    z-index: 2;
	}
	.isotope-hidden.isotope-item {
	    z-index: 1;
	}
	.isotope, .isotope .isotope-item {/* change duration value to whatever you like */
	    -webkit-transition-duration: 0.8s;
	    -moz-transition-duration: 0.8s;
	    transition-duration: 0.8s;
	}
	.isotope {
	    -webkit-transition-property: height, width;
	    -moz-transition-property: height, width;
	    transition-property: height, width;
	}
	.isotope .isotope-item {
	    -webkit-transition-property: -webkit-transform, opacity;
	    -moz-transition-property:-moz-transform, opacity;
	    transition-property:transform, opacity;
	}

	#our-works{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.portfolio-wrapper ul.filter{
		list-style: none;
		padding: 0;
		margin-bottom: 35px;
		margin-top: 28px;
		overflow: hidden;
	}

	.portfolio-wrapper ul.filter li{
		float: left;
		text-transform: uppercase;
		margin-right: 25px;
		font-weight: 600;
	}

	.portfolio-wrapper ul.filter li a{
		color: #909090;
	}

	.portfolio-wrapper ul.filter li a:hover,
	.portfolio-wrapper ul.filter li a.active{
		color: #000;
	}

	.portfolio-wrapper .portfolio-items{
		clear: both;
	}

	.portfolio-wrapper .portfolio-content{
		position: relative;
		margin-bottom: 30px;
	}

	.portfolio-wrapper .portfolio-overlay{
		position: absolute;
		background-color: rgba(0, 0, 0, 0.7);
		color: #fff;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		padding: 30px;
		opacity: 0;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}

	.portfolio-wrapper .portfolio-content:hover .portfolio-overlay{
		opacity: 1;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.portfolio-wrapper .portfolio-overlay a{
		color: #fff;
		font-size: 35px;
	}
	.portfolio-wrapper .portfolio-overlay a:hover{
		color: #fff;
	}



/* 8. Chairman */
	
	#chairman{
		background-image: url(../images/chairman.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		padding-top: 50px;
		padding-bottom: 50px;
		position: relative;
	}
	#chairman img{
		height: 366px;
	}

	.member-info-chairman {
		background-color: #23293F;
		padding: 5px;
		text-align: center;
		color: #FFF;
		font-family: initial;
		/*border-radius: 0px 50px 0px;*/
		margin-top: 10px;
	}
	.chairmans-body{
		background-color:rgba(35, 41, 63, 0.48);
	    color: #fff;
	    /*font-family: cursive;*/
	    font-style:italic;
	    padding: 20px;
	    text-align: justify;
	    /*border-radius: 0px 50px 0px;*/
	    font-weight:500;
	}
	.overlay-core-chairman{
		background-color:#DBDCDD;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}
	.chairmans-title{
		color:rgb(35, 41, 63);
		text-transform: capitalize;
		text-align: center;
		letter-spacing: 0.3em;
		background-color: rgb(219, 220, 221);
		padding-top: 5px;
		padding-bottom: 5px;
		border-radius: 0px 50px 0px;
	}

/* 9. MISSION AND VISIONS */
	#our-mission-vision{
		padding-top: 80px;
	   	padding-bottom: 50px;
	}

	.water-mark-overlay{
		background-image: url(../logo.png);
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;
		opacity: 0.1;
		background-position: center;
		background-repeat: no-repeat;
	}


/* 10. ABOUT US */
	
	#about-us{
		/*background-image: url(..logo.png);*/
		background-color: #f5f5f5;
		/*padding-top: 50px;
   		padding-bottom: 50px;
		height: 600px*/
	}

	#about-us .about-us{
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 15%;
		font-size: large;
	}

	#about-us .about-us h4{
		margin-top: 0;
		margin-bottom: 30px;
	}

	#about-us .about-us .btn-send{
		margin-top: 30px;
	}
	#about-us .item{
		height: 530px;
	}

	#about-us .our-office{
		padding-right: 0px;
	}

	.office-carousel-left, 
	.office-carousel-right {	
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.office-carousel-left {
		left:-32px;
	}

	.office-carousel-right {
		right:-32px;
	}

	#office-carousel:hover .office-carousel-left {
		left:0;
	}

	#office-carousel:hover .office-carousel-right {
		right:0;
	}

	#office-carousel .item img{
		width: 100%;
	}

/* 11. OUR TEAM */

	#our-team{
	    margin-top: 15px;
    	margin-bottom: 50px;
	}
	#our-team .section-title{
		margin-bottom:30px;
	}
	#our-team .slide{
		margin-left: -15px;
		margin-right: -15px;
	}

	.team-member{
		font-weight: 100;
		height: 100%;
	}

	.member-image{
		position: relative;
		/*background-color: #FBFBFB;*/
	}
	.member-image img{
		width: 100%;
		height: 350px;
	}

	.member-info {
		/*background-color: rgba(217, 78, 51, 0.71);*/
		background-color:rgba(239, 239, 239, 0.25);
		padding: 5px 10px;
		color: #000;
		text-transform: lowercase;
		top:0;
		position:sticky;
		bottom: 0;
		width: 100%; height: 22%;
	}

	.member-info-header{
		font-weight: 100;
		background-color: rgba(239, 239, 239, 0.25);
		padding: 5px 10px;
		color: #988B8B;
		text-align: center;
	}

	.member-info h4{
		margin-top: 0;
		margin-bottom: 6px;
	}

	.member-info span{
		text-transform: uppercase;
	}

	.team-member .member-social{
		/*border-radius: 50%;*/
		position: absolute;
	    width: 100%;
    	height: 350px;
		background-color: rgba(225, 127, 108, 0.51);
		left: 0;
		top:0px;
		text-align: center;
		opacity: 0;
		cursor: pointer;
		-webkit-transition: all 0.3s ease-out 0s;
		-moz-transition: all 0.3s ease-out 0s;
		-ms-transition: all 0.3s ease-out 0s;
		-o-transition: all 0.3s ease-out 0s;
		transition: all 0.3s ease-out 0s;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}

	.team-member:hover .member-social{
		opacity: 1;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.team-member .member-social a{
	    margin-top: 40%;
	    position: relative;
	    color: #FFF;
	}

	.team-member:hover .member-social a{
		margin-top: 40%;
	}

.btn-send-member{
	font-weight: 600;
	background-color: #d94e33;
	border-radius: 0;
	border: 0;
	color: #fff;
	padding: 8px 14px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.btn-send-member:hover{
	font-weight: 600;
	background-color:rgba(217, 78, 51, 0.31);
	color:#fff;
}
.members-box{
	margin-bottom:15px;
	color: rgba(0, 0, 0, 0.55);
    padding: 5px 10px;
    box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.48);
    background-color: rgba(204, 204, 204, 0.13)!important;
}
.members-box img{
	height:160px;
	width:100%;
	padding-bottom: 15px;
}
.members-box .fa{
    padding: 15px;
}
.members-box p{
	text-transform: capitalize;
}

/* 12. TESTIMONIAL */

	#testimonial{
		background-image: url(../images/testimonial.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		padding-top: 100px;
		padding-bottom: 100px;
		position: relative;
	}

	.st-testimonials{
		color: #e0e0e0;
	}

	.st-testimonials .st-border{
		background-color: #e0e0e0;
		margin: 20px auto;
	}

	.st-testimonials p{
		font-style: italic;
	}

	.st-testimonials .client-info h5{
		margin-top: 0;
		margin-bottom: 5px;
	}

	.st-testimonials .client-info span{
		font-size: 12px;
		text-transform: uppercase;
	}

/*SUBSCRIBE*/
	#subscribe{
		background-image: url(../images/subscribe/img02.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		padding-top: 100px;
		padding-bottom: 100px;
		position: relative;
	}

	.st-subscribe{
		color: #fff;
	}

	.st-subscribe .st-border{
		background-color: #e0e0e0;
		margin: 20px auto;
	}

	.st-subscribe p{
		font-style: italic;
		font-size:18px;
	}

	.st-subscribe .client-info h5{
		margin-top: 0;
		margin-bottom: 5px;
	}

	.st-subscribe .client-info span{
		font-size: 12px;
		text-transform: uppercase;
	}

	.subscribe-overlay img{
		background-color: rgba(0, 0, 0, 0.71);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}

/* 13. FUN FACTS */
	
	#fun-facts{
		background-color: #f5f5f5;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	#fun-facts .fun-fact{
		border-right: 1px solid #ddd;
	}

	#fun-facts .col-md-3:last-child .fun-fact{
		border-right: 0px solid #ddd;
	}

	#fun-facts .fun-fact i{
		margin-right: 5px;
	}

	#fun-facts .fun-fact p{
		font-size: 16px;
	}


/* 14. CONTACT */

	#contact{
		padding-top: 50px;
		padding-bottom: 50px;
		background-color: rgba(239, 239, 239, 0.25);
	}
	
	.contact-info .contact-content{
		margin-bottom: 30px;
		font-weight: 400;
	}

	.contact-info p{
		margin-bottom: 20px;
		font-weight: 400;
	}

	.contact-info p i{
		font-size: 16px;
		margin-right: 10px;
	}

	.contact-form{}

	.contact-form input[type="text"],
	.contact-form input[type="email"]{
		border: 1px solid #d94e33;
		padding: 8px 14px;
		width: 100%;
		margin-bottom: 20px;
		box-shadow: 0px 0px 6px #d94e33;
	}

	.contact-form textarea{
		border: 1px solid #d94e33;
		padding: 8px 14px;
		width: 100%;
		margin-bottom: 20px;
		box-shadow: 0px 0px 6px #d94e33;
	}
	.contact-form select{
		border: 1px solid #d94e33;
		padding: 8px 14px;
		width: 100%;
		margin-bottom: 20px;
		box-shadow: 0px 0px 6px #d94e33;
	}

/* 15. BLOG */
	
	#page-header{
		background-color: #f5f5f5;
		padding-top: 50px;
		padding-bottom: 0px;
		position: relative;
		margin-bottom: 50px;
		margin-top: 80px;
	}

	.single-blog{
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.post-title{
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.post-meta{
		margin-bottom: 15px;
	}

	.post-meta span{
		margin-right: 6px;
		font-size: 12px;
		font-weight: 600;
		opacity: 0.6;
	}

	.post-meta span:hover{
		opacity: 1;
	}

	.post-carousel-left, 
	.post-carousel-right {	
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.post-carousel-left {
		left:-32px;
	}

	.post-carousel-right {
		right:-32px;
	}

	#post-carousel:hover .post-carousel-left {
		left:0;
	}

	#post-carousel:hover .post-carousel-right {
		right:0;
	}

	.post-link{
		background-color: #f5f5f5;
		text-align: center;
		padding: 40px 0;
		font-size: 16px;
		font-weight: 600;
	}

	.post-quote{
		background-color: #f5f5f5;
		padding: 30px;
		font-size: 16px;
		font-weight: 500;
		font-style: italic;
	}

	#blog .pagination{
		margin-bottom: 80px;
	}

	#blog .pagination li a{
		width: 35px;
		height: 35px;
		line-height: 31px;
		text-align: center;
		font-size: 16px;
		color: #a3a3a3;
		border: 1px solid #d1d1d1;
		padding: 0;
		margin-right: 5px;
		border-radius: 0;
	}

	#blog .pagination li.active a,
	#blog .pagination li a:hover{
		background-color: transparent;
		border-color: #000;
		color: #000;
	}

	.sidebar-widget{
		margin-top: 35px;
		margin-bottom: 50px;
	}

	.sidebar-widget .sidebar-title{
		margin-top: 0;
		margin-bottom: 20px;
	}

	.sidebar-widget ul{
		list-style: square;
		margin: 0;
		padding-left: 18px;
	}

	.sidebar-widget ul li{
		margin-bottom: 10px;
		font-weight: 500;
	}

	.blog-search{
		position: relative;
	}

	.blog-search input {
		border: 1px solid #d6d6d6;
		color: #8d8d8d;
		height: 44px;
		outline: medium none;
		padding: 0 50px 0 17px;
		width: 100%;
	}

	.blog-search span {
		color: #252525;
		font-size: 12px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}

	.blog-search .search-submit {
		background: none;
		border: none;
	}

	.blog-search:after {
		background-color: #d6d6d6;
		content: "";
		display: block;
		height: 27px;
		position: absolute;
		right: 40px;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		width: 1px;
	}

	.sidebar-widget .tagcloud a{
		padding: 4px 10px;
		border: 1px solid #ccc;
		margin: 3px 1px;
		display: inline-block;
	}

	.sidebar-widget .tagcloud a:hover{
		border-color: #000;
		color: #000;
	}

	ul.content-flickr {
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	ul.content-flickr li {
		display: block;
		float: left;
		padding: 5px 10px 5px 0;
		width: 33.33%;
	}

	.content-flickr li a {
		display: block;
		position: relative;
		width: 100%;
	}



/* 16. FOOTER */
#footer-about{
	position: absolute;
	width: 100%;
	bottom: 0;
	background-color:#0C0503;
	padding-top: 40px;
	padding-bottom: 40px;
	color: #d94e33;
	height:250px;
}


	#footer{
		position: absolute;
		width: 100%;
		/*bottom: 0;*/
		background-color:#0C0503;
		padding-top: 40px;
		padding-bottom: 40px;
		color: #d94e33;
		height:250px;
	}
	#footer-2{
		position: absolute;
		bottom: 0;
		width: 100%;
		background-color: #0C0503;
		padding-top: 15px;
		padding-bottom: 15px;
		color: #D94E33;
		margin-top: 50px;
	}

	#footer a{
		color:#fff;
	}
	#footer a:hover{
		color: #fff;
	}

	.footer-social-icons{
		text-align: right;
	}

	.footer-social-icons a{
		margin: 0 5px;
		font-size: 16px;
	}

	.footer-social-icons span{
		margin-right: 10px;
	}

	/* 16.(a) Subscribe */

	.subscribe-form input[type="email"]{
		border: 1px solid #d94e33;
		padding: 8px 14px;
		width: 100%;
		box-shadow: 0px 0px 6px #336799;
		color:#d94e33;
	}
	.subscribe-btn-send{
		font-weight:700;
		background-color:#d94e33;
		padding-left:20px;
		padding-right:13px;
		border-radius:4px;
		border: 0;
		cursor: pointer;
		color: #fff;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.subscribe-btn-send:hover{
		font-weight:700;
		background-color:rgba(217, 78, 51, 0.31);
		color:#fff;
	}

	
/* 17. SCROLL TO TOP */

	.scroll-up {
		position: fixed;
		display: none;
		z-index: 999;
		bottom: 1.8em;
		right: 6.4em;
	}

	.scroll-up ul{
		margin: 0;
		padding: 0;
	}

	.scroll-up li{
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.scroll-up a {
		background-color: rgba(255, 255, 255, 0);
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		color: #d94e33;
		font-size: 20px;
		line-height: 38px;
		box-shadow: 0px 0px 6px #d94e33;
	}

	.scroll-up a:hover,
	.scroll-up a:active {
		background-color: #f5f5f5;
		color: #000;
	}

/*Core Values*/

	#core-values{
		background-image: url(../images/core-values.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
	    padding-top: 20px;
	    padding-bottom: 50px;
		position: relative;

	}

	.overlay-core-values{
		background-color: #270E09;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}

	.st-core-values{
		color: #e0e0e0;
	}

	.st-core-values .st-border{
		background-color: #e0e0e0;
		margin: 20px auto;

	}

	.st-core-values p{
		font-style: italic;
	}

	.st-core-values .client-info h5{
		margin-top: 0;
		margin-bottom: 5px;
	}

	.client-info h1{
		font-size: 80px; margin-top: 0;
	}

	.st-core-values .client-info span{
		font-size: 12px;
		text-transform: uppercase;
	}

	/*SIGN UP*/

	#sign-up{
		/*opacity: 0.5;*/
	}
	.sign-up-form{
		box-shadow: 2px 2px 5px rgba(217, 78, 51, 0.31);
		padding: 50px;
		margin: 50% -15px;
		position: absolute;
		width: 100%;
	}
	.sign-up-form img{
		height: 130px;
		padding-bottom: 10px;
		margin: 0 auto;
	}
	.sign-up-form button{
		border-radius: 0;
    	padding: 10px 10px;
    	line-height: 1.0;
    	background-color:  #d94e33;
    	box-shadow: 0px 0px 0px #fff;
	}
	.sign-up-form button:hover{
		color: #d94e33;
		background-color:#fff;	
    	border-right: 0px solid #d94e33;
    	border-left: 0px solid #d94e33;
    	border-top: 0px solid #d94e33;
    	border-bottom: 1px solid #d94e33;
	}

	.sign-up-form input[type="email"],input[type="text"],input[type="password"]{
		padding: 10px 10px;
	    width: 100%;
	    box-shadow: 1px 1px 1px 0px rgba(217, 78, 51, 0.31);
	    color: #d94e33;
	    border-radius: 0;
	    border-color: #fff;
	    border: 0px solid #fff; 
	    font-weight:400;
	}

	.sign-up-form p{
		margin: -10px -10px;

	}
	.sign-up-form a{
		color: black;
		padding-right: 10px;
		opacity: 0.5;
	}
	.sign-up-form hr{
		width:200px;
	}

	/*DashBoard*/

	.dashboard{

	}
	.dashboard img{
		height:150px;
		width: inherit;
		opacity: 0.5;
		padding:15px;
	}

	.dashboard-boxes{

	}
	.dashboard-boxes-individual{
		border-radius: 2px;
		padding: 20px 10px;
		margin: 10px;
		box-shadow: 0px 10px 10px 0px rgba(217, 78, 51, 0.31);
	}
	.dashboard-boxes-individual:hover{
		background-color:#d94e33;
		padding: 30px;
		cursor: pointer;
		color: #fff;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.52s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
	.dashboard-logout:hover{
		text-decoration: none;
		color:#000;
	}
	.dashboard-logout{
		background-color:#fff;
		border-radius: 5px;
		color:#FF0000;
		width:inherit;
		text-align: left;
		margin-top:10px;
		text-decoration: none;
	}

	.dashboard-menu{
		margin-left:10px;
		margin-top:15px;
	}
	.dashboard-menu a{
		background-color: #AF0202;
		/*border-radius: 5px;*/
		color: #fff;
		width: 100%;
		text-align: center;
		padding: 10px;
		text-decoration: none;
	}
	.dashboard-menu a:hover{
		background-color:#fff;
		cursor: pointer;
		color: #AF0202;
	}
	.dashboard-menu img{
		height:100px;
		width: inherit;
		opacity: 0.5;
		padding:5px;
	}
	.myfooter p{
		bottom: 0;
		left: 0;
		right: 0;
		position: absolute;

	}

	.developer-notification{
	    color: #FFF;
	    background-color: #008000;
	    text-align: center;
        padding: 10px;
	}


/*PROFILE*/
.profile-right-conner{
	text-align: right;
	margin-top: -25px;

}
.profile-box{
	margin-top: 15px;
	margin-bottom:15px;
	color:#fff;
	padding: 5px 10px;
	box-shadow: 5px 5px 5px -4px rgba(0, 0, 0, 0.48);
	background-color:#D94E33! important;
}

.profile-box img{
	padding-top: 0px;
	padding-left: initial;
	padding-right: initial;
	width: 100%;
	height: initial;
	box-shadow: 0px 0px 10px 0px #FFF;
}
.profile-box .social{
	border-top: 10px solid #fff;
	text-align: center;
	letter-spacing: 0.2em;
	padding-top: 10px;
	margin-top: 20px;
}
.profile-box  p , h4{
	opacity: 0.8;
}

.profile-box .social .fa{
	color:#fff;
	padding: 0px;
}
.profile-box .social .fa:hover{
	color:#D38D7F;
}
.profile-box .social a .fa-facebook:hover{
	color:#408BC3;
}
.profile-box .social a .fa-twitter:hover{
	color: #82B3D7;
}
.profile-box .social a .fa-whatsapp:hover{
	color:#40C340;
}

.profile-box .btn-send{
	background-color: #FFF;
	color: #D94E33;
}
.profile-box .btn-send:hover{
	background-color: #D38D7F;
	color: #D94E33;
}
.editProfile{
	margin-left: -30px;
}

.profile-panel .nav-tabs{
	border-bottom: 1px solid rgba(217, 78, 51, 0.17);
}
.profile-panel .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	color: #D94E33;
	cursor: pointer;
	background-color: #FFF;
	border: 1px solid rgba(217, 78, 51, 0.17);
	border-bottom-color: rgba(0, 0, 0, 0);
}
.profile-panel .facebook {
	background-color: #408BC3;
	color: #FFF;
	text-align: center;
	padding: 20px 0px;
	font-size: 20px;
}
.profile-panel .twitter {
	background-color:#82B3D7;
	color: #FFF;
	text-align: center;
	padding: 20px 0px;
	font-size: 20px;
}
.profile-panel .google {
	background-color: #C34140;
	color: #FFF;
	text-align: center;
	padding: 20px 0px;
	font-size: 20px;
}
.profile-box .nav>li>a:focus, .nav>li>a:hover{
	background-color: rgba(217, 78, 51, 0.17);
	color:rgba(0, 38, 56, 0.46);
}

/*PROFILE EDITING*/
.panel-body .profile-status-pending{
	text-align: right;
	margin-top: -20px;
	color: #F00;
}
.panel-body .profile-status-completed{
	text-align: right;
	margin-top: -20px;
	color: #008000;
	font-size: 10px;
}

#edit_profile .panel-default>.panel-heading{
	color: #D94E33;
	background-color: rgba(249, 225, 220, 0.2);
	border-color: #F9E1DC;
}
#edit_profile .panel-default{
	border-color: #F9E1DC;
}
#edit_profile .panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-top-color: rgba(255, 255, 255, 0);
}

.profile-form textarea, input[type="date"],input[type="file"]{
	padding: 4px;
	width: 100%;
	box-shadow: 1px 1px 1px 0px rgba(217, 78, 51, 0.31);
	color: #D94E33;
	border-radius: 0;
	border: 0px solid #FFF;
	font-weight: 100;
}
.panel-title {
	font-size: 12px;
}
.profile-box-info{
	border-radius: 2px;
	padding: 5px 15px;
	margin-right:5px; margin-left:5px;
	/*margin-bottom: 20px;*/
	box-shadow: 5px 5px 5px -3px rgba(217, 78, 51, 0.31);
	background-color: rgba(217, 78, 51, 0.04);
}
.profile-box-info i{
	color: rgba(217, 78, 51, 0.49);
}
.profile-box .progress{
	height: 15px;
	background-color: rgba(245, 245, 245, 0.17);
}
.profile-box .progress-bar-success{
	background-color: #D94E33;
}
.profile-box .progress-striped .progress-bar-success{
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,#FFF 25%,#FFF 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,#FFF 75%,#FFF);
}